.sidemenu-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 !important;
    border-right: 2px solid bisque;
    color: bisque;
    width: 10%;
    nav {
        border-bottom: 1px outset bisque;
        padding: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        > a {
            color: inherit !important;
            text-decoration: none;
        }
        &:hover {
            background-color: #53565d;
            color: #ffedd9;
            .nav-arrow {
                visibility: inherit;
            }
        }
        > .nav-arrow {
            visibility: hidden;
            float: right;
            margin-top: 2px;
        }
    }
}