.sidemenu-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 !important;
    border-right: 2px solid bisque;
    color: bisque;
    nav {
        border-bottom: 1px outset bisque;
        padding: 6px;
        > a {
            color: inherit !important;
            text-decoration: none;
        }
    }
}